[submodule "soc/st/arm/m0/l0"]
	path = soc/st/arm/m0/l0
	url = https://github.com/xEmbeddedTools/xsoc_stm32l0.git
[submodule "soc/st/arm/m4/wb"]
	path = soc/st/arm/m4/wb
	url = https://github.com/xEmbeddedTools/xsoc_stm32wb.git
[submodule "soc/st/arm/m0/u0"]
	path = soc/st/arm/m0/u0
	url = https://github.com/xEmbeddedTools/xsoc_stm32u0.git
